<p id="notice"><%= notice %></p>

<h1> <%= @beer_club.name %>, <%= @beer_club.city %></h1>
<p>founded in <%= @beer_club.founded %></p>

<% if @beer_club.users.empty? %>
    <p>no members</p>
<% else %>
    <h3>Members</h3>
    <ul>
      <% @beer_club.users.each do |user| %>
          <li> <%= user.username %></li>
      <% end %>
    </ul>
<% end %>

<% if current_user && !is_user_member_of_club %>
  <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"join the club", class:"btn btn-info" %>
  <% end %>
<% elsif current_user && is_user_member_of_club %>
  <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:"btn btn-danger" %>
  <% end %>
<% end %><br>

<%= edit_and_destroy_buttons(@beer_club) %>
