<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<p>
  <% if @user.ratings.empty? %>
      hasn't made any ratings yet
  <% else %>
      has <%= pluralize(@user.ratings.count, 'rating') %> with an average of <%= @user.average_rating %>
  <% end %>
</p>

<% unless @user.beer_clubs.empty? %>
    member of
    <% @user.beer_clubs.each do |club| %>
        <%= link_to club.name, club %>
    <% end %>
<% end %>


<h3>Ratings</h3>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.beer.name %>, <%= rating.score %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }%>
      </li>
  <% end %>
</ul>






<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
