<h2>Rating statistics</h2>

<div class="col-xs-4">
  <h2>Best beers</h2>
  <%= render 'list', best: @best_beers %>
</div>

<div class="col-xs-4">
  <h2>Best breweries</h2>
  <%= render 'list', bemist: @best_breweries %>
</div>
<div class="col-xs-4">
  <h2>Best styles</h2>
  <%= render 'list', best: @best_styles %>
</div>

<%= render 'most_active_users', users: @users %>
<%= render 'newest_ratings', ratings: @newest_ratings  %>

<p><%= link_to('New Rating', new_rating_path, class:"btn btn-primary") if current_user %></p>