<p id="notice"><%= notice %></p>

<h1><%= @brewery.name %></h1>

<p>
  <strong><i>Established in <%= @brewery.year %> </i></strong>
</p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
    Brewery doesn't have any rated beers yet!
  <% else %>
    Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>
  <% end %>
</p>



<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
