<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %>
  <% if not @brewery.active  %>
      <span class="label label-info">retired</span>
  <% end %>
</h2>

<p>
  <em>Established year:</em>
  <%= @brewery.year %>
</p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<ul>
  <% @brewery.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      Brewery doesn't have any rated beers yet!
  <% else %>
      Has <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@brewery) %>